<div class="container">
  <header class="header">
    <img src="../../../assets/images/logoBibliotech.png" alt="Bibliotech Logo" class="logo" (click)="navigate('')">
  </header>

  <div class="gauche">
    <div class="form">


    </div>
    <div class="insideform">
      <h2>Connexion</h2>
      <p class="proverbe">Le début de notre histoire...</p>
    <br>
    <div class="wow">
      <form>
        <input type="email" name="email" required placeholder="Email">
        <input type="password" name="password" required placeholder="Mot de passe">
        <button type="submit" class="button">Connexion</button>
      </form>
    </div>

    </div>
  </div>
  <div class="droite">
    <div class="jules"></div>
  </div>
  <button (click)="navigate('connexion')" class="button" id="login">Connexion</button>
  <button (click)="navigate('inscription')" class="button" id="signup">Inscription</button>
</div>
