<div class="container">
  <header class="header">
    <img src="../../../assets/images/logoBibliotech.png" alt="Bibliotech Logo" class="logo" (click)="navigate('')">
  </header>

  
  <button (click)="navigate('connexion')" class="button" id="login">Connexion</button>
  <button (click)="navigate('inscription')" class="button" id="signup">Inscription</button>

  <div class="gauche">
    <img src="../../../assets/images/JulesDebout.png" alt="Jules debout avec des livres" class="jules">
  </div>

  <div class="droite">
    <div class="form-background"></div>
    <div class="formulaire">
      <h1>Connexion</h1>
      <p class="slogan">Retrouvons nous entre les lignes</p>
      <br><br><br>
      <form>
        <p>Email</p>
        <input type="email" name="email" required placeholder="Email">
        <p>Mot de passe</p>
        <input type="password" name="password" required placeholder="Mot de passe">
        <button type="submit" class="btn-form">Connexion</button>
        <br><br>
        <p class="finalement-inscription">Je n'ai pas encore de compte ? <a href="/inscription">M'inscrire</a></p>
      </form>
    </div>
  </div>

</div>
