@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/inscription.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.header {
  z-index: 2;
  margin-top: 1%;
  margin-left: 2%;
  cursor: pointer;
}

.header img {
  transition: transform 0.3s ease;
}

.header  img:hover {
  transform: scale(1.05);
}


.logo {
  z-index: 2;
  width: 120px;
  height: auto;
}




.button {
  z-index: 2;
  padding: 10px 20px;
  margin: 0 40px;
  color: #fff;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 13%;
  height: 40px;
  margin-top: 1%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;

}

#login{
  margin-left: 64.8%;
}

#signup{

  margin-left: 83%;

}

.button:hover {
  background-color: white;
  color: black;

}


.gauche{
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 60%;
}

.jules{
  width: 45%;
  margin-top: 25%;
  margin-left: 50%;
}

.droite{
  z-index: 1;
  position: absolute;
  width: 40%;
  height: 100%;
  margin-left: 60%;
}

.form-background{
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 70%;
  height: 70%;
  margin-top: 20%;
  margin-left: 20%;
  border: solid 0px;
  border-radius: 50px;
}

.formulaire{
  position: absolute;
  width: 60%;
  height: 60%;
  margin-left: 25%;
  margin-top: 26%;
  border: solid 0px;
  border-radius: 50px;
  color: white;
  font-family: "Poppins"; 
  
}

.slogan{
  font-size:x-large
}

h1 {
  font-family: "Poppins", extra-bold; 
}

input{
  width: 100%;
  height: 40px;
  border: solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  
}

input::placeholder{
  font-family: poppins;
  color: white;
}

input::content{
  padding-left: 3%;

}

.btn-form{
  width: 100%;
  height: 50px;
  border: solid 0px;
  border-radius: 15px;
  margin-top: 10%;
  background-color: #2677a7;
  color: white;
  font-family: poppins;
  font-size: 100%;
  cursor: pointer;
}

a{
  color: white;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
}

.finalement-inscription{
text-align: center;
}